files:
  "/etc/rc.d/init.d/swapfile.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ ! -f /swapfile ]; then
        fallocate -l 2G /swapfile
        chmod 600 /swapfile
        mkswap /swapfile
        swapon /swapfile
      fi

commands:
  create_swap:
    command: /etc/rc.d/init.d/swapfile.sh
